#jinja2: trim_blocks:False, lstrip_blocks:True
{%- if catalog_dest_type == 'HOST_CATALOG_TBL' -%}
{
    "host_name":"{{ inventory_hostname }}",
    "domain":"{{ ansible_domain }}",
    "catalog_dest": "{{ catalog_dest }}",
    "platform_vendor": "{{ platform_vendor }}",
    "env_category":"",
    "hardware_vendor":"{{ ansible_product_version }}",
    "os_category":"{{ ansible_distribution_version }}",
    "monitoring_tool":"{{ server_monitoring_tool }}",
    "cloud_provider":"",
    "dc_location":"{{ dc_location }}",
    "app_id":"{{ app_ref_id }}",
    "virtual_phys":"{{ phy_virt }}",
    "server_model":"{{ ansible_bios_version }}",
    "detail":[
        {
            "desc": "cpu information list",
            "value": "{{ ansible_processor }}",
            "category": "harware"
        },
        {
            "desc": "operating system",
            "value": "{{ ansible_distribution }} {{ ansible_distribution_version }}",
            "category": "software"
        },
        {
            "desc": "system architecture",
            "value": "{{ ansible_machine }}",
            "category": "hardware"
        },
        {
            "desc": "system id",
            "value": "{{ ansible_machine_id }}",
            "category": "hardware"
        },
        {
            "desc": "free memory in mb",
            "value": "{{ ansible_memfree_mb }}",
            "category": "hardware"
        },
        {
            "desc": "used memory in mb",
            "value": "{{ ansible_memory_mb.real.used }}",
            "category": "hardware"
        },
        {
            "desc": "total memory in mb",
            "value": "{{ ansible_memtotal_mb }}",
            "category": "hardware"
        },
        {
            "desc": "operation system family",
            "value": "{{ ansible_os_family }}",
            "category": "software"
        },
        {
            "desc": "platform version",
            "value": "{{ ansible_product_name }}",
            "category": "hardware"
        },
        {
            "desc": "platform serial",
            "value": "{{ ansible_product_serial }}",
            "category": "hardware"
        },
        {
            "desc": "platform uuid",
            "value": "{{ ansible_product_uuid }}",
            "category": "hardware"
        },
        {
            "desc": "product version",
            "value": "{{ ansible_product_version }}",
            "category": "hardware"
        },
        {
            "desc": "free swap in mb",
            "value": "{{ ansible_swapfree_mb }}",
            "category": "hardware"
        },
        {
            "desc": "total swap in mb",
            "value": "{{ ansible_swaptotal_mb }}",
            "category": "hardware"
        },
        {
            "desc": "hardware architecture",
            "value": "{{ ansible_architecture }}",
            "category": "hardware"
        },
        {
            "desc": "virtualization platform",
            "value": "{{ ansible_virtualization_type }}",
            "category": "hardware"
        },
        {
            "desc": "cpu count",
            "value": "{{ ansible_processor_count }}",
            "category": "harware"
        },
        {
            "desc": "memory count",
            "value": "{{ ansible_memtotal_mb }}",
            "category": "hardware"
        }
    ]
}
{%- endif -%}
{%- if catalog_dest_type == 'DB_CATALOG_TBL' -%}
{
    "host_name":"{{ inventory_hostname }}",
    "catalog_dest": "{{ catalog_dest_type }}",
    "db_name": "{{ db_name }}",
    "platform_vendor": "{{ platform_vendor }}",
    "ha_enabled": "N",
    "pci": "{{ pci_required | default('') }}",
    "sox": "{{ sox_required | default('') }}",
    "cloud": "Y",
    "app_id": "{{ app_ref_id }}",
    "db_desc": "{{ db_desc | default('') }}",
    "db_version": "{{ deploy_db_version }}",
    "dc_location":"{{ dc_location }}",

    "detail": [
       {
            "desc": "version",
            "value": "{{ settings['server_version']['setting'] }}",
            "category": "settings"
        },
        
         {
            "desc": "data directory",
            "value": "{{ settings['data_directory']['setting'] }}",
            "category": "settings"
        },
           {
            "desc": "version",
            "value": "{{ settings['fsync']['setting'] }}",
            "category": "settings"
        }
    ]

}
{%- endif -%}
{%- if  catalog_dest_type == 'DB_CATALOG_DETAIL_UPGRADE' -%}
{
  "system_name": "{{ system_name | default('') }}",
  "catalog_dest": "DB_CATALOG_DETAIL_UPGRADE",
  "host_code": "{{ host_code | default('') }}",
  "platform_vendor": "{{ platform_vendor }}",
  "detail": [
    {
      "category": "db_Property",
      "value": "{{ settings['server_version']['setting'] }}",
      "desc": "version",
      "record_type": "settings"
    }
  ]
}
{%- endif -%}
{%- if catalog_dest_type == 'HA_MAPPING_TBL' -%}
{
    "host_code":"",
    "shard_host_ci":"",
    "catalog_dest": "{{ catalog_dest }}",
    "platform_vendor": "{{ platform_vendor }}",
    "ha_type":"{{ ha_type }}",
    "master_host_ci":"{%- for host in groups['repmgr_master'] %}{{ host }}{%- endfor -%}",
    "slave_host_ci":"{%- for host in groups['repmgr_slave'] -%}{{ host }}{{ ',' if not loop.last  else ''  }}{%- endfor -%}",
    "primary_host_ci":"",
    "standby_host_ci":"",
    "system_name":"{{ inventory_hostname }}",
    "aag_primary":"",
    "aag_nodes":"",
    "detail":[
        {
            "desc": "",
            "value": "",
            "category": "",
        },
        {
            "desc": "",
            "value": "",
            "category": "",
        }
    ]
}
{%- endif -%}
